<div class="form-group">
  <label [for]="controlName" class="form-label label fs-15 fw-semibold">{{ label }}
    <span *ngIf="isRequired" class="text-danger">*</span>
  </label>
  <select [id]="controlName" [formControl]="control" class="form-select"
          [ngClass]="{'is-invalid': control.invalid && (control.touched || control.dirty || isFormSubmitted)}"
          (blur)="onBlur()">
    <option value="" *ngIf="placeholder">{{ placeholder }}</option>
    <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
  </select>
  <div *ngIf="control.invalid && (control.touched || control.dirty || isFormSubmitted)" class="text-danger">
    <small *ngFor="let error of errors">{{ error }}</small>
  </div>
</div>
